[submodule "ReforgedBlocks"]
	path = ReforgedContent
	url = https://github.com/HIPPOKLEIDES/ConquestReforgedBlocksTest.git
[submodule "ReforgedRP"]
	path = ReforgedRP
	url = https://github.com/HIPPOKLEIDES/Conquest-Reforged-Resourcepack.git
